
.loader {
    position: absolute;
    top: 50%;
    z-index: 1;
    margin: -75px 5px 0 -75px;
    left : 50%;
  }
  .textLoader
  {
    font-family: 'Oswald', sans-serif;
    margin: -100px 5px 10px -100px;
    color: #f3f3f3
  }
  .loaderImg
  {
    border: 16px solid #1f323e;
    border-radius: 50%;
    /*border-top: 16px solid #1f323a;*/
    border-top: 16px solid #f3f3f3;

    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  .loaderLeave
  {
    border: 16px solid #1f323e;
    border-radius: 50%;
    /*border-top: 16px solid #1f323a;*/
    border-top: 16px solid #f3f3f3;

    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  .loaderKick
  {
    border: 16px solid #1f323e;
    border-radius: 50%;
    /*border-top: 16px solid #1f323a;*/
    border-top: 16px solid #f3f3f3;

    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  html {
    background: #1f323e;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
  }